/* Insert background image  */
body {
    background-image: url(../images/tumblr_mj0vvcqnZx1qdlh1io1_400.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

/* Styling the navbar */
#nav-bar {
    background-color: lightgrey;
    font-family: 'Raleway', sans-serif;
}
/* Remove padding from container */
.container {
    padding: 0;
    opacity: 95%;
}
/* Styling my name in navbar */
#name {
    /* background-color: steelblue; */
    color: steelblue;
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
}

/* Styling the section */
section {
    background-color: lightgrey;
    padding: 30px  1.5rem; 
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

/* Styling the aside */
aside {
    background-color: lightgrey;
    padding: 105px  1.5rem; 
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Styling the header */
h1 {
    color: steelblue;
    font-family: 'Raleway', sans-serif;
}

/* Setting dimensions for picture in index file */
#about-me {
    width: 300px; 
    height: 250px;
}

/* Styling text in footer */
.footer {
    color: steelblue;
    background-color: lightgrey;
    font-family: 'Raleway', sans-serif;
}

/* Adding border on top of footer */
#sticky-footer {
    border-top: 5px solid steelblue;
    background-color: #9a9e9e;
}
